@import "../utils/_variables"

#header-container
    display: flex
    align-items: center
    justify-content: center
    position: fixed
    height: 57px
    background-color: $bg-header-color
    width: 100%

#logo
    display: flex
    align-items: center
    p
        margin-left: 15px
        color: $text-logo-color
        font-size: $text-logo-size
        font-weight: $text-logo-weight

#search-container
    display: flex
    align-items: center
    p
        margin-left: 20px
        font-size: $text-search-size
    label
        font-size: $text-search-size

#rainbow-color
    margin-left: 10px
    option
        font-size: $text-search-size
